.container{
	background: #607D8B;
	width: 300px;
	height: 306px;    
}

.clock{
	border: 3px solid #9E9E9E;
	height: 200px;
	position: relative;
	background: #f2f2f2;
	margin: 32px auto;
	width: 200px;
	border-radius: 50%; 
}

.tip{  
	position: absolute;
	transform-origin: 50% 100px;
	margin: 0 98px 200px;
	background: black;
}
.hourTip{	
	height: 8px;
	width: 4px;
}
.hourTip span{ 
	top:10px;
	position: absolute;
	left: -2px;
}
.minuteTip{
	width: 1px;
	height: 3px;

}

.bar {
	position: absolute;
	background: black;
	transform-origin: 50% bottom;
}
.hourBar {
	transform: rotate(30deg);
	margin: 43px 98px 100px;
	height: 56px;
	background: yellow;
	z-index: 100; 
	width: 4px;
	
}


.minuteBar {      
	transform: rotate(0deg);
	background: green;
	height: 60px;
	margin: 35px 98px 100px;
	width: 2px;
	
}

.clockCenter { 
	height: 10px; 
	position: absolute;
	background: #FF6633;
	border-radius: 50%;
	margin: calc(50% - 5px);
	width: 10px;
	z-index: 200;;  
}

.one {
	transform: rotate(30deg);
}
.tweleve{
	transform: rotate(0deg);
}

.twoMin{
	transform: rotate(6deg);
}
.day {
	position: absolute; 
	background: white;
	display: inline-block;
	left: 100px;
	list-style-type: none;
	top: 220px;
	border-radius: 20px;
	padding: 0;
	margin: 0; 
}
.day li{
	display: inline;
	padding: 0 5px;
	cursor: pointer; 
}

.day li.active{
	background: #000; 
	border-radius: 20px;
	padding: 0 10px; 
	color: #fff; 
}