<div class="clockContainer">
    <div class="clock">
    <div class="close">x</div>
        <div class="bar hourBar"></div>
        <div class="clockCenter"></div>
        <div class="bar minuteBar"></div>
        <div class="location">Somewhere</div>
        <div class="controller">
            <!-- Input materials -->
            <div class="clockInput">
                <input required type="number" min="0" max="23" class="hourInput required"   placeholder="H">:<input required type="number" min="0" max="59" class="minuteInput" placeholder="M">
            </div>
            <ul class="day">
                <li class="am active">AM</li>
                <li class="pm">PM</li>
            </ul>
            <button class="currentTime">Time Now</button>
        </div>
    </div>
</div>