<div class="clockContainer">
    <div class="clock">
        <div class="bar hourBar"></div>
        <div class="clockCenter"></div>
        <div class="bar minuteBar"></div>
        <div class="controller">
            <!-- Input materials -->
            <div class="clockInput">
                <input required type="number" min="0" max="24" class="hourInput required"   placeholder="Hour">
                <input required type="number" min="0" max="60" class="minuteInput" placeholder="Minutes">
            </div>
            <ul class="day">
                <li class="am active">AM</li>
                <li class="pm">PM</li>
            </ul>
        </div>
    </div>
</div>