.clockContainer {
    display: inline-table;
    width: 310px;
    height: 100%;
    margin: 4px 10px;
    padding: 10px;
    border-left: 3px solid #607d8b;
    border-radius: 20px 2px;
    background: #f5f5dc;
    box-shadow: 0 0 1px #607d8b;
}

.clock {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 200px;
    cursor: -webkit-grab;
    color: #000;
    border: 3px solid #9e9e9e;
    border-radius: 50%;
    background: #f2f2f2;
    box-shadow: 0 0 0 black;
}

.tip {
    position: absolute;
    margin: 0 98px 200px;
    transform-origin: 50% 100px;
    background: black;
}

.hourTip {
    width: 4px;
    height: 8px;
}

.hourTip span {
    position: absolute;
    top: 10px;
    left: -3px;
    padding: -1px;
}

.clockContainer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minuteTip {
    width: 1px;
    height: 3px;
}

.bar {
    position: absolute;
    z-index: 3;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform-origin: 50% bottom;
    background: #009688;
    box-shadow: 0 3px 1px #000;
}

.hourBar {
    width: 7px;
    height: 55px;
    margin: 45px 98px 100px;
}

.minuteBar {
    width: 4px;
    height: 70px;
    margin: 30px 99px 74px;
}

.clockCenter {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin: calc(50% - 4px);
    border-radius: 50%;
    background: #607d8b;
    box-shadow: 0 -1px 0 #000;
}


/* Controller */

.controller {
    position: absolute;
    top: 0;
    left: 190px;
    width: 120px;
}

.day {
    font-size: 14px;
    width: 100%;
    margin: 0;
    list-style-type: none;
}

ul.day {
    margin: 1px;
    padding: 1px;
    border-radius: 10px;
    background: #ffe4c4;
}

.day li {
    display: inline-block;
    width: 40%;
    padding: 2px 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}

.day li.active {
    color: #fff;
    background: #009688;
    box-shadow: -1px 1px 2px 0 black;
}

.clockInput {
    border: 1px solid #f2f2f2;
}

.clockInput input {
    font-size: 15px;
    line-height: 20px;
    width: 41%;
    height: 20px;
    margin: 0;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 31px;
    outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type=number] {
    -moz-appearance: textfield;
}

.hourInput {
    text-align: right;
}

.hourInput:after {
    content: ':';
}

.minuteInput {
    text-align: left;
}

.clockInput input {
    height: 20px;
}

.cityInput {
    font-size: 15px;
    font-weight: 900;
    width: 85%;
    height: 30px;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    outline: 0;
}

.darkTheme {
    background: #000;
}

.darkTheme > .tip {
    background: #ffeb3b;
}

.darkTheme > .hourTip {
    color: #ffeb3b;
}

.darkTheme > .bar {
    background: #ffeb3b;
}

.close {
    position: absolute;
    top: -10px;
    left: -12px;
    padding: 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, .73);
    border-radius: 14px 0;
    background: #607d8b;
    box-shadow: 2px 0 1px 0 #666;
}

.location {
    font-family: cursive;
    font-weight: 900;
    position: absolute;
    z-index: 2;
    top: 62%;
    left: 25%;
    width: 100px;
    text-align: center;
    color: #8bc34a;
    border-radius: 10px;
    background: rgba(255, 255, 255, .16);
}

button.currentTime {
    font-size: 13px;
    position: absolute;
    top: 170px;
    left: 10px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    outline: 0;
    background: #009688;
}


/* Validation styling */

input:required:invalid,
input:focus:invalid {
    border-bottom: 2px solid #c36;
    -moz-box-shadow: none;
}

